footer{
    display: flex;
    padding: 20px 150px;
    justify-content: space-between;
    background-color: #32353d;
}

.socials {
    display: flex;
    gap: 15px;
}

.socials img {
    width: 26px;
}