header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-left: 150px;
    padding-right: 150px;
}

.logo {
    align-items: flex-start;
    margin: auto 0px;
    font-family: prata;
}

.menu {
    display: flex;
    align-content: space-between;
    margin: auto 0px;
    
}

button {
    align-content: flex-end;
    font-size: 25px;
    font-family: prata;
    background-color: rgb(255, 243, 80);
    padding: 15px 30px;
    border: 0px;
}

.menu-content{
    color: #acacac;
    padding: 0px 20px;
}