.section-1{
    width: 60%;
    padding: 20px 0px;
}

.section-1 h2{
    font-size: 70px;
    font-family: alga;
    font-weight: 600;
}

.section-1 p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    margin-top: -50px;
}

.partner{
    display: flex;
    width: 100%;
    justify-content: space-between;
}