.section-1{
    width: 60%;
    padding: 20px 0px;
    padding-left: 150px;
    padding-right: 150px;
}

.section-1 h2{
    font-size: 70px;
    font-family: alga;
    font-weight: 500;
}

.section-1 p{
    font-size: 20px;
    line-height: 30px;
    margin-top: -50px;
}

.partner{
    padding-top: 30px 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.partner1 {
    padding-left: 150px;
    padding-right: 150px;
}

.section-2{
    display: flex;
    padding: 30px 0px;
    padding-left: 150px;
    padding-right: 150px;
}

.section-2 p{
    margin-top: -30px;
   }

.section-3 {
    padding-left: 150px;
    padding-right: 150px;
    background-color: #32353d;
    display: inline-flex;
    align-items: flex-end;
}

.sec3l {
    padding-right: 100px;
}

.sec3l h3{
    line-height: -1.5em;
    
}
