.section-1{
    width: 60%;
    padding: 20px 0px;
    padding-left: 150px;
    padding-right: 150px;
}

.section-1 h2{
    font-size: 70px;
    font-family: alga;
    font-weight: 500;
}

.section-1 p{
    font-size: 20px;
    line-height: 30px;
    margin-top: -50px;
}

.partner{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.partner1 {
    padding-left: 150px;
    padding-right: 150px;
}

.section-2{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    padding-top: 70px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 70px;
}

.pic {
    width: 600px;
}

.section-2 p{
    margin-top: -30px;
   }

.section-3 {
    padding: 50px 150px;
    background-color: #32353d;
    display: flex;
}

.sec3l {
    max-width: 700px;
    width: 100%;
    margin-right: 70px;
    margin-top: -20px;
}

/*.sec3l h3{
    line-height: -1.5em;
    
}*/

.sec3r {
    max-width: 700px;
    width: 100%;
}

.section-4 {
    display: block;
    padding: 50px 150px 100px;
}

.section-4 h3 {
    margin-bottom: -0.5em;
}